<ion-view view-title="高玩教学">
    <ion-content  class="has-subheader">
        <ion-nav-bar class="bar-dark">
        </ion-nav-bar>
        <ion-item></ion-item>
        <ion-item class="item item-avatar" ui-sref="tabs.home.hmjx">
            <img src="images/航母教学.jpg">
            <h2>航母教学</h2>
            <p>FPS游戏中的RTS操作 战舰世界航母新手小科普</p>
        </ion-item>
        <ion-item class="item item-avatar">
            <img src="images/加点教学.jpg">
            <h2>加点教学</h2>
            <p>新手加点不用愁《战舰世界》舰长技能分配职能</p>
        </ion-item>
        <ion-item class="item item-avatar">
            <img src="images/鱼雷教学.jpg">
            <h2>鱼雷教学</h2>
            <p>秒杀战舰不是梦 战舰世界鱼雷运作机制详解</p>
        </ion-item>
        <ion-item class="item item-avatar">
            <img src="images/炮击教学.jpg">
            <h2>炮击教学</h2>
            <p>如何发挥战舰的最大威力 舰艇火炮系统大解析</p>
        </ion-item>
        <ion-item class="item item-avatar">
            <img src="images/炮弹选择.jpg">
            <h2>炮弹选择</h2>
            <p>AP和HE该怎么选 炮弹抛物线及穿甲机制小科普</p>
        </ion-item>
        <ion-item class="item item-avatar">
            <img src="images/鱼雷规避.jpg">
            <h2>鱼雷规避</h2>
            <p>躲避大杀器 战舰世界新手课堂之鱼雷规避教程</p>
        </ion-item>
        <ion-item class="item item-avatar">
            <img src="images/战舰弱点.jpg">
            <h2>战舰弱点</h2>
            <p>阿喀琉斯之踵 战舰世界舰艇弱点模块解析</p>
        </ion-item>
        <ion-item class="item item-avatar">
            <img src="images/战舰职责.jpg">
            <h2>战舰职责</h2>
            <p>新手提督不用慌 舰船职责及航海技巧分享</p>
        </ion-item>
        <ion-item class="item item-avatar">
            <img src="images/战舰选择.jpg">
            <h2>战舰选择</h2>
            <p>新手选舰指南《战舰世界》各类战舰简要分析</p>
        </ion-item>

    </ion-content>
</ion-view>