<ion-view view-title="请登录">
    <ion-content>
        <ion-nav-bar class="bar-balanced"></ion-nav-bar>
        <ion-item>
            zhanwei
        </ion-item>
        <ion-list>
            <form name="dengLu" novalidate>
                <ion-item class="item-input">
                    <span class="input-label">用户名</span>
                    <label class="item-input-wrapper">
                        <input type="email" required name="email" ng-model="email" placeholder="请输入用户名（邮箱号）">
                    </label>
                </ion-item>
                <ion-item class="item-input">
                    <span class="input-label">密码</span>
                    <label class="item-input-wrapper">
                        <input type="password" required name="password" ng-model="password" minlength="6" placeholder="请输入密码（不少于6位数）">
                    </label>
                </ion-item>
                <div class="button-bar bar-calm">
                    <a class="button" ui-sref="tabs.home.zhanjian">取消</a>
                    <a class="button" ui-sref="tabs.home.zhanjian" ng-disabled="dengLu.$invalid" ng-click="clear()">确定</a>
                </div>
            </form>
        </ion-list>
    </ion-content>
</ion-view>