<ion-view view-title="实时资讯">
    <ion-content class="has-subheader">
        <ion-nav-bar class="bar-dark">
        </ion-nav-bar>
        <ion-item>
            站位
        </ion-item>
        <ion-list>
            <ion-item class="item-thumbnail-left item-text-wrap" ui-sref="tabs.home.anshan">
                <img src="images/zixunbg1.jpg">
                <h2>[海战经典] 鞍山”级干过的大事儿：与美军战舰激斗8昼夜！</h2>
                <p>上世纪50年代，解放军海军从前苏联高价购买了四艘07型驱逐舰，它们就是赫赫有名的海军“四大金刚”。该型驱逐舰较大的吨位和出色的舰炮火力使其成为早期解放军海军最精锐的战舰</p>
                <ion-option-button class="button-assertive">收藏</ion-option-button>
                <ion-option-button class="button-positive">分享</ion-option-button>
            </ion-item>
            <ion-item class="item-thumbnail-left item-text-wrap">
                <img src="images/zixunbg2.jpg">
                <h2>[海战经典] 够吹500年！葡萄牙最伟大的时候发生了什么？</h2>
                <p>是最伟大的人，把地球踩在脚下！我财大气粗，拥有无限权势；我是权杖、王冠和王位，能使大地和海洋颤抖！我的威名远扬，家喻户晓，我就是葡萄牙，我比整个世界都大！</p>
                <ion-option-button class="button-assertive">收藏</ion-option-button>
                <ion-option-button class="button-positive">分享</ion-option-button>
            </ion-item>
            <ion-item class="item-thumbnail-left item-text-wrap">
                <img src="images/zixunbg3.jpg">
                <h2>[媒体新闻] 细数游戏中那些以人物命名的战舰</h2>
                <p>截止到2016年7月末，战舰世界中以人物命名的那些战舰由来大盘点，一起看看有多少是自己熟悉的船只/人物吧！</p>
                <ion-option-button class="button-assertive">收藏</ion-option-button>
                <ion-option-button class="button-positive">分享</ion-option-button>
            </ion-item>
            <ion-item class="item-thumbnail-left item-text-wrap">
                <img src="images/zixunbg4.jpg">
                <h2>[热门资讯] 伟大的共和国战争 西沙自卫反击战</h2>
                <p>中国南海是个美丽而富饶的地方，因地理位置独特，资源丰富对我国具有重要战略意义。最重要的是，这里蕴藏了大量的油气矿产资源，被称作是第二个波斯湾。正是这样，南海周边国家一直对这里虎视眈眈，不断侵犯中国的海洋主权，甚至不惜与中国开战。</p>
                <ion-option-button class="button-assertive">收藏</ion-option-button>
                <ion-option-button class="button-positive">分享</ion-option-button>
            </ion-item>
            <ion-item class="item-thumbnail-left item-text-wrap">
                <img src="images/zixunbg5.jpg">
                <h2>[热门资讯] 伟大的共和国战争之对印自卫反击战</h2>
                <p>作为“邻居”，中印两个文明古国在几千年的历史中并没有过大规模军事冲突，两国文化相互融合，算得上是世代友好。不过，长期遭受殖民压迫的印度在取得民族独立后，竟然打起了中国的“算盘”，直接导致了中印两国兵戎相见。</p>
                <ion-option-button class="button-assertive">收藏</ion-option-button>
                <ion-option-button class="button-positive">分享</ion-option-button>
            </ion-item>
            <ion-item class="item-thumbnail-left item-text-wrap">
                <img src="images/zixunbg6.jpg">
                <h2>[海战经典] 二战五件大蠢事！意大利海军雄踞榜首</h2>
                <p>“大水冲了龙王庙”，在战场上自己人打自己人造成误伤古已有之。很多军人没有死在敌人手里，却被友军误杀。这类可怕的事件多次发生在第二次世界大战，据资料显示，二战期间盟军的误伤率也比较高。可见，真实的战场上有非常多的军人还没成忠魂就成了“冤魂”。</p>
                <ion-option-button class="button-assertive">收藏</ion-option-button>
                <ion-option-button class="button-positive">分享</ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
    <div class="button button-icon ion-arrow-up-a Top " ng-click="Top()"></div>
</ion-view>